<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.devapps.gemius" version="1.0.0">
    <name>GemiusPlugin</name>
    <js-module name="GemiusPlugin" src="www/GemiusPlugin.js">
        <clobbers target="cordova.plugins.GemiusPlugin" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GemiusPlugin">
                <param name="ios-package" value="GemiusPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/GemiusPlugin.m" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GemiusPlugin">
                <param name="android-package" value="com.devapps.gemius" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/GemiusPlugin.java" target-dir="src/com/devapps/gemius" />
    </platform>
</plugin>