<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.devapps" version="1.0.0">
    <name>GemiusPlugin</name>

    <js-module name="GemiusPlugin" src="www/GemiusPlugin.js">
        <clobbers target="cordova.plugins.GemiusPlugin" />
    </js-module>
    
    <preference name="GEMIUS_APP_NAME" />
    <preference name="GEMIUS_APP_VERSION" />
    <preference name="GEMIUS_HITCOLLECTOR_HOST" />
    <preference name="GEMIUS_SCRIPT_IDENTIFIER" />
    <preference name="GEMIUS_LOGGING_ENABLED" default="false" />
    <preference name="GEMIUS_IDFA_ENABLED" default="true" />
    <preference name="GEMIUS_BUFFERED_MODE" default="true" />
    <preference name="GEMIUS_POWER_SAVING_MODE" default="true" />

    <preference name="ANDROID_PLAY_SERVICES_CORE_VERSION" default="17.3.0" />
    <preference name="ANDROID_PLAY_SERVICES_ADS_VERSION" default="19.1.0" />
    <preference name="GSON_VERSION" default="2.8.5" />

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GemiusPlugin">
                <param name="android-package" value="com.devapps.GemiusPlugin" />
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="gemius_app_name">$GEMIUS_APP_NAME</string>
            <string name="gemius_app_version">$GEMIUS_APP_VERSION</string>
            <string name="gemius_hitcollector_host">$GEMIUS_HITCOLLECTOR_HOST</string>
            <string name="gemius_script_identifier">$GEMIUS_SCRIPT_IDENTIFIER</string>
            <string name="gemius_logging_enabled">$GEMIUS_LOGGING_ENABLED</string>
            <string name="gemius_idfa_enabled">$GEMIUS_IDFA_ENABLED</string>
            <string name="gemius_buffered_mode">$GEMIUS_BUFFERED_MODE</string>
            <string name="gemius_power_saving_mode">$GEMIUS_POWER_SAVING_MODE</string>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <source-file src="src/android/GemiusPlugin.java" target-dir="src/com/devapps/GemiusPlugin" />

        <resource-file src="src/android/aars/GemiusSDK_2.0.0.aar" target="../../libs/GemiusSDK_2.0.0.aar" />

        <framework custom="true" src="src/android/Gemius.gradle" type="gradleReference" />

        <framework src="com.google.android.gms:play-services-base:$ANDROID_PLAY_SERVICES_CORE_VERSION" />
        <framework src="com.google.android.gms:play-services-ads:$ANDROID_PLAY_SERVICES_ADS_VERSION" />
        <framework src="com.google.code.gson:gson:$GSON_VERSION" />
    </platform>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GemiusPlugin">
                <param name="ios-package" value="GemiusPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/GemiusPlugin.swift" compiler-flags="-ObjC" />
        <source-file src="src/ios/GemiusPlugin-Bridging-Header.h" />

        <config-file target="*-Info.plist" parent="GemiusPluginConfig">
            <dict>
                <key>GEMIUS_APP_NAME</key>
                <string>$GEMIUS_APP_NAME</string>
                <key>GEMIUS_APP_VERSION</key>
                <string>$GEMIUS_APP_VERSION</string>
                <key>GEMIUS_HITCOLLECTOR_HOST</key>
                <string>$GEMIUS_HITCOLLECTOR_HOST</string>
                <key>GEMIUS_SCRIPT_IDENTIFIER</key>
                <string>$GEMIUS_SCRIPT_IDENTIFIER</string>
                <key>GEMIUS_LOGGING_ENABLED</key>
                <string>$GEMIUS_LOGGING_ENABLED</string>
                <key>GEMIUS_IDFA_ENABLED</key>
                <string>$GEMIUS_IDFA_ENABLED</string>
                <key>GEMIUS_BUFFERED_MODE</key>
                <string>$GEMIUS_BUFFERED_MODE</string>
                <key>GEMIUS_POWER_SAVING_MODE</key>
                <string>$GEMIUS_POWER_SAVING_MODE</string>
            </dict>
        </config-file>
        
        <framework src="AdSupport.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="src/ios/frameworks/GemiusSDK.xcframework" custom="true" embed="false" />

        <dependency id="cordova-plugin-add-swift-support" url="https://github.com/devapps-systems/cordova-plugin-add-swift-support"/>
    </platform>

</plugin>